{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
    <h1>Patagonia Trip Planner</h1>

    <br /><br />

  {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <br /><br />

  <h2>Details about {{ trek.title }}</h2>
  <h2>Backpacker: {{ trek.backpacker }}</h2>
  <h2>Total Distance Hiked: {{ trek.distance }}</h2>
  <p>{{ trek.description }}</p>


    <a href="{% url 'create_trek' %}" class="btn btn-primary">Add a Campsite</a>
      <br>
          <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
  {% else %}
      <h2>Please Login or Signup Above</h2>
  {% endif %}
</div>

{% endblock content %}

